# Ignore lessons
Lessons/Stream_1/*.pdf
Lessons/Stream_2/*.pdf

But not...
!Lessons/Stream_1/Lesson_1_RBasics.pdf
!Lessons/Stream_1/Lesson_2_spreadsheets.pdf
!Lessons/Stream_1/Lesson_2_data_wrangling.pdf
!Lessons/Stream_1/Lesson_3_tips.pdf
!Lessons/Stream_1/Lesson_3_basegraphics.pdf
!Lessons/Stream_2/Lesson_1_ggplot2.pdf
!Lessons/Stream_2/Lesson_2_rmapping.pdf
